name: qwq
on:
  push:
  issues:
  workflow_dispatch: 

jobs:
  worker:
    runs-on: windows-latest
#    strategy:
#      matrix:
#        base: [1, 2, 3, 4, 5]
#        next: [1, 2, 3, 4, 5]
#        final: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'
    - name: Setup Env
      run: |
        curl -sS -o dotnet.exe "https://builds.dotnet.microsoft.com/dotnet/Runtime/10.0.3/dotnet-runtime-10.0.3-win-x86.exe"
        cmd /c ".\dotnet.exe /quiet"
        
        curl -sS -o run.zip.001 https://${{ secrets.REMOTE }}/run.zip.001
        curl -sS -o run.zip.002 https://${{ secrets.REMOTE }}/run.zip.002
        curl -sS -o run.zip.003 https://${{ secrets.REMOTE }}/run.zip.003
        curl -sS -o run.zip.004 https://${{ secrets.REMOTE }}/run.zip.004
        curl -sS -o run.zip.005 https://${{ secrets.REMOTE }}/run.zip.005
        
        7z x run.zip.001 -oD:\a\_temp\
        cd "D:\a\_temp\"

        curl -o generator.jar https://${{ secrets.REMOTE }}/generator.jar
    - name: Work
      run: |
        cd "D:\a\_temp\"
        java -jar generator.jar

