name: qwq
on:
  push:
  issues:
  workflow_dispatch: 

jobs:
  worker:
    runs-on: windows-latest
#    strategy:
#      matrix:
#        base: [1, 2, 3, 4, 5]
#        next: [1, 2, 3, 4, 5]
#        final: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'
    - name: Setup Env
      run: |
        curl -sS -o dotnet.exe "https://builds.dotnet.microsoft.com/dotnet/Runtime/10.0.3/dotnet-runtime-10.0.3-win-x86.exe"
        cmd /c ".\dotnet.exe /quiet"
        
        curl -sS -o bin.zip https://${{ secrets.REMOTE }}/bin.zip
        curl -sS -o bin.z01 https://${{ secrets.REMOTE }}/bin.z01
        curl -sS -o bin.z02 https://${{ secrets.REMOTE }}/bin.z02
        curl -sS -o bin.z01 https://${{ secrets.REMOTE }}/bin.z03
        curl -sS -o bin.z02 https://${{ secrets.REMOTE }}/bin.z04
        
        7z x bin.zip -oD:\a\_temp\
        cd "D:\a\_temp\"

        curl -o generator.jar https://${{ secrets.REMOTE }}/generator.jar
    - name: Work
      run: |
        cd "D:\a\_temp\"
        java -jar generator.jar

